<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <title>Finder</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-center">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/#port">Portfolio</a>
          <a class="nav-item" href="/#about">About Me</a>
          <a class="nav-item" href="/#contacts">Contacts</a>
        </div>
      </div>
    </nav>
    <section class="module parallax parallax-finder">
      <div class="container">
        <h1>Finder</h1>
      </div>
    </section>

    <section class="module content">
        <div id="contacts">
          <div class="project">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="project">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="project">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
    </section>

  </body>
</html>
