<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <title>Finder</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-center">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/#port">Projects</a>
          <a class="nav-item" href="/#about">About Me</a>
          <a class="nav-item" href="/#contacts">Contacts</a>
        </div>
      </div>
    </nav>
    <section class="module parallax parallax-guilty">
      <div class="container">
        <h1>Guilty Pleasures</h1>
      </div>
    </section>

    <section class="module content">

      <div class="row">
        <div class="column">
          <img src="{% static 'website/images/guilty1.png' %}" onclick="openModal();currentSlide(1)" class="hover-shadow">
        </div>
        <div class="column">
          <img src="{% static 'website/images/guilty2.png' %}" onclick="openModal();currentSlide(2)" class="hover-shadow">
        </div>
        <div class="column">
          <img src="{% static 'website/images/guilty13.png' %}" onclick="openModal();currentSlide(3)" class="hover-shadow">
        </div>
        <div class="column">
          <img src="{% static 'website/images/guilty4.png' %}" onclick="openModal();currentSlide(4)" class="hover-shadow">
        </div>
      </div>

      <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

          <div class="mySlides">
            <div class="numbertext">1 / 4</div>
                <img src="{% static 'website/images/guilty1.png' %}" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">2 / 4</div>
                <img src="{% static 'website/images/guilty2.png' %}" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">3 / 4</div>
                <img src="{% static 'website/images/guilty13.png' %}" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">4 / 4</div>
                <img src="{% static 'website/images/guilty4.png' %}" style="width:100%">
            </div>

        </div>
      </div>
          <div class="code-box">
            <h1>Role</h1>
            <p>Developed the front-end using Materialize and CSS. Worked closely with jQuery for pagination and drop down options on the navigation bar.</p>
          </div>
          <div class="code-box">
            <h1>Description</h1>
            <p>E-Commerce site specializing in movies, music and snacks that are considered guilty pleasures.</p>
          </div>
          <div class="code-box">
            <h1>Tech</h1>
            <p>Python  |  Django  |  SQLite  |  HTML    CSS</p>
            <ul>
            <li class="link-logo"><a class="button is-outlined" href="https://github.com/imlocle/guilty">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
            </a></li>
          </ul>
          </div>

    </section>
    <script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  // var dots = document.getElementsByClassName("demo");
  // var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  // for (i = 0; i < dots.length; i++) {
  //   dots[i].className = dots[i].className.replace(" active", "");
  // }
  slides[slideIndex-1].style.display = "block";
  // dots[slideIndex-1].className += " active";
  // captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

  </body>
</html>
