<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/master.css" media="screen" title="no title">
    <title>Loc Le</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-center">
          <a class="nav-item is-tab">About Me</a>
          <a class="nav-item is-tab">Portfolio</a>
          <a class="nav-item is-tab">Contact</a>
        </div>
      </div>
    </nav>


    <section class="module parallax parallax-1">
      <div class="container">
        <h1>Loc Le</h1>
        <p>Full Stack Developer</p>
      </div>
    </section>

    <section class="module content">
      <div class="portfolio">
            <div class="project">
              <div class="coding-icon">
                <img src="../../static/images/python2.png"/>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="project">
              <div class="coding-icon">
                <img src="../../static/images/ruby2.png"/>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="project">
              <div class="coding-icon">
                <img src="../../static/images/javascript.png"/>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
      </div>
  </section>

    <section class="module parallax parallax-2">
      <div class="container">
        <h1>About Me</h1>
        <p>I am a self-motivated full stack developer with a passion for creativity and learning. I am idea driven and committed to creating products that innovates and pushes culture and society forward through the use of technology.</p>
        <!-- <p><i>"Everything negative - pressure, challenges - is all an opportunity for me to rise."</i> - Kobe Bryant</p> -->
      </div>
    </section>

    <section class="module content">
      <div class="portfolio">
        <h1>Portfolio</h1>
            <div class="project">
              <div class="coding-icon">
                <img src="../../static/images/eat.png"/>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="project">
              <div class="coding-icon">
                <img src="../../static/images/write.png"/>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="project">
              <div class="coding-icon">
                <img src="../../static/images/shopping.png"/>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
      </div>
  </section>




<section class="module parallax parallax-3">
  <div class="container">
    <h1></h1>
  </div>
</section>
<section class="module content">


    <div id="contacts">
      <h1>Contacts</h1>
      <div class="project">
      </div>
      <div class="project">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul>
        <li><a class="button is-outlined" href="mailto:loc.tan.le@gmail.com">
          <span class="icon">
            <i class="fa fa-envelope"></i>
          </span>
        </a></li>
        <li><a class="button is-outlined">
          <span class="icon">
            <i class="fa fa-file"></i>
          </span>
        </a></li>
        <li><a class="button is-outlined" href="https://www.github.com/imlocle">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a></li>
        <li><a class="button is-outlined" href="https://www.linkedin.com/in/imlocle">
          <span class="icon">
            <i class="fa fa-linkedin"></i>
          </span>
        </a></li>
      </ul>
      </div>


    </div>

</section>

  </body>
</html>
