<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <title>Loc Le</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-center">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="#port">Portfolio</a>
          <a class="nav-item" href="#about">About Me</a>
          <a class="nav-item" href="#contacts">Contacts</a>
        </div>
      </div>
    </nav>


    <section class="module parallax parallax-1">
      <div class="container">
        <h1>Loc Le</h1>
      </div>
    </section>

    <section class="module content">
      <div class="portfolio">
        <h1>Full Stack Developer</h1>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/python.png' %}"/>
              </div>
              <ul>
                <p>Python | Django | Flask</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/ruby2.png' %}"/>
              </div>
              <ul>
                <p>Ruby | Rails</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/javascript1.png' %}"/>
              </div>
              <ul>
                <p>JavaScript | Node.js  Express.js | AngularJS</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/frontend.jpg' %}"/>
              </div>
              <ul>
                <p>HTML | CSS | jQuery | Bulma  Materialize | Bootstrap</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/server.jpg' %}"/>
              </div>
              <p>MySQL | SQLite | MongoDB</p>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/settings.png' %}"/>
              </div>
              <p>GitHub | AWS </p>
            </div>
      </div>
  </section>

    <section class="module parallax parallax-2">
      <div class="container">
        <h1>My Mission</h1>
          <p>To provide the highest-quality web development services in a friendly cooperative environment that nurtures creativity and leadership.Technology is a way for the world to push boundaries and test the unknown.</p>
      </div>
    </section>
    <div id="port">
    <section class="module content">
      <div class="portfolio">

        <h1>Portfolio</h1>
            <div class="project">
              <a href="/finder">
              <div class="coding-icon">
                <img src="{% static 'website/images/eat.png' %}"/>
              </div>
              <h2>Finder</h2>
              <p>Social dining application that allows users to adventurously search for random, “Hole-in-the-wall,” restaurants.</p>
            </div></a>
            <div class="project">
              <a href="/writenow">
              <div class="coding-icon">
                <img src="{% static 'website/images/write.png' %}"/>
              </div>
              <h2>Write Now</h2>
              <p>A gamified social media site for aspiring writers to post articles, comments and likes.</p>
            </div></a>
            <div class="project">
              <a href="/guilty">
              <div class="coding-icon">
                <img src="{% static 'website/images/shopping.png' %}"/>
              </div>
              <h2>Guilty Pleasures</h2>
              <p>E-Commerce site specializing in movies, music and snacks that are considered guilty pleasures.</p>
            </div></a>
          </div>
  </section>
</div>




<section class="module parallax parallax-3">
  <div class="container">
    <div id="about">
      <h1>About Me</h1>
        <p>I am a self-motivated full stack developer with a passion for creativity and learning. I am idea driven and committed to creating innovative products that serve to push culture and society forward in positive directions.</p>
    </div>
  </div>
</section>
<section class="module content">
    <div id="contacts">
      <h1>Contacts</h1>
      <div class="project">
        <div class="personal-icon">
          <img src="{% static 'website/images/Loc1.jpg' %}"/>
        </div>
      </div>
      <div class="project">
        <p>The Little Things</p>
        <p>Being a former hip-hop dancer, I love creativity and music. I'm a big sports fantatic, especially when it comes to the Lakers. If you ever drive with me, you will hear horrible renditions of Backstreet Boys.</p>
        <ul>
        <li class="link-logo"><a class="button is-outlined" href="mailto:loc.tan.le@gmail.com">
          <span class="icon">
            <i class="fa fa-envelope"></i>
          </span>
        </a></li>
        <li class="link-logo"><a class="button is-outlined">
          <span class="icon">
            <i class="fa fa-file"></i>
          </span>
        </a></li>
        <li class="link-logo"><a class="button is-outlined" href="https://www.github.com/imlocle">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a></li>
        <li class="link-logo"><a class="button is-outlined" href="https://www.linkedin.com/in/imlocle">
          <span class="icon">
            <i class="fa fa-linkedin"></i>
          </span>
        </a></li>
      </ul>
      </div>
    </div>
</section>

  </body>
</html>
