<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <title>Loc Le</title>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-center">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="#port">Projects</a>
          <a class="nav-item" href="#about">About Me</a>
          <a class="nav-item" href="#contacts">Contacts</a>
        </div>
      </div>
    </nav>


    <section class="module parallax parallax-1">
      <div class="container">
        <h1>Loc Le</h1>
      </div>
    </section>

    <section class="module content">
      <div class="portfolio">
        <h1>Full Stack Developer</h1>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/python.png' %}"/>
              </div>
              <ul>
                <p>Python | Django | Flask</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/ruby2.png' %}"/>
              </div>
              <ul>
                <p>Ruby | Rails</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/javascript1.png' %}"/>
              </div>
              <ul>
                <p>JavaScript | Node.js  Express.js | AngularJS</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/frontend.jpg' %}"/>
              </div>
              <ul>
                <p>HTML | CSS | jQuery | Bulma  Materialize | Bootstrap</p>
              </ul>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/server.jpg' %}"/>
              </div>
              <p>MySQL | SQLite | MongoDB</p>
            </div>
            <div class="code-box">
              <div class="coding-icon">
                <img src="{% static 'website/images/settings.png' %}"/>
              </div>
              <p>GitHub | AWS </p>
            </div>
      </div>
  </section>

    <section class="module parallax parallax-2">
      <div class="container">
        <h1>My Mission</h1>
          <p>To provide the highest quality web development services in a friendly cooperative environment that nurtures creativity and leadership. My goal is to leverage technology, to push boundaries and test the unknown.</p>
      </div>
    </section>
    <div id="port">
    <section class="module content">
      <div class="portfolio">

        <h1>Projects</h1>
            <div class="port-box">
              <a href="/finder">
              <div class="coding-icon-link">
                <img src="{% static 'website/images/eat1.png' %}"/>
              </div>
            </a>
              <h2>Finder</h2>
              <p>Social dining application that allows users to adventurously search for random, “Hole-in-the-wall,” restaurants.</p>
            </div>
            <div class="port-box">
              <a href="/writenow">
              <div class="coding-icon-link">
                <img src="{% static 'website/images/writeicon.png' %}"/>
              </div>
            </a>
              <h2>Write Now</h2>
              <p>A gamified social media site for aspiring writers to post articles, comments and likes.</p>
            </div>
            <div class="port-box">
              <a href="/guilty">
              <div class="coding-icon-link">
                <img src="{% static 'website/images/shopping1.png' %}"/>
              </div>
            </a>
              <h2>Guilty Pleasures</h2>
              <p>E-Commerce site specializing in movies, music and snacks that are considered guilty pleasures.</p>
            </div>
          </div>
  </section>
</div>




<section class="module parallax parallax-3">
  <div class="container">
    <div id="about">
      <h1>About Me</h1>
        <p>I am a self-motivated full stack developer, driven by unconventional ideas and processes to advance the end-users quality of life. Drawing from my experiences in teaching, travel, music and dance, I have a passion for creativity. Whether it’s from my experience studying abroad in Vietnam, teaching English in Japan, or choreographing a dance inspired by Michael Jackson, I’m inspired by diverse people, how technology can make lives better, and to be part of something special.</p>
    </div>
  </div>
</section>
<section class="module content">
    <div id="contacts">
      <h1>Contacts</h1>
      <div class="project">
        <div class="personal-icon">
          <img src="{% static 'website/images/Loc1.jpg' %}"/>
          <ul>
          <li class="link-logo"><a class="button is-outlined" href="mailto:loc.tan.le@gmail.com">
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
          </a></li>
          <li class="link-logo"><a class="button is-outlined" href='https://www.dropbox.com/s/ojuuisn1aqxibf0/Loc%20Le%20-%20Resume%202016.pdf?dl=0'>
            <span class="icon">
              <i class="fa fa-file"></i>
            </span>
          </a></li>
          <li class="link-logo"><a class="button is-outlined" href="https://www.github.com/imlocle">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
          </a></li>
          <li class="link-logo"><a class="button is-outlined" href="https://www.linkedin.com/in/imlocle">
            <span class="icon">
              <i class="fa fa-linkedin"></i>
            </span>
          </a></li>
        </ul>
        </div>
      </div>
      <div class="project">
        <p>The Little Things</p>
        <p>Driving to a Lakers game, in the Batmobile, singing terrible renditions of Backstreet Boys, *NSYNC or any classic 80's songs would be the perfect day.</p>
      </div>
    </div>
</section>

  </body>
</html>
