body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

section.module.parallax-1 {
  background-image: url("images/city.jpeg");
  background-color: white;
}
section.module.parallax-2 {
  background-image: url("images/cafe.jpeg");
  background-color: white;
}
section.module.parallax-3 {
  background-image: url("images/personal.jpeg");
  background-color: white;
}

section.module.parallax-finder {
  background-image: url("images/finder.png");
  background-color: white;
}

section.module.parallax-writenow{
  background-image: url("images/write0.png");
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
}
section.module.parallax-guilty{
  background-image: url("images/guilty0.png");
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}


.nav{
  position: fixed;
  width: 100%;
  background-color: white;
}

.nav a{
  font-size: 20px;
}
.code-box{
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  height: 250px;
  width: 400px;
  /*border: solid black 1px;*/
}

.portfolio{
  display: inline-block;
}

.project{
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  height: 400px;
  width: 400px;
  /*border: solid black 1px;*/
}

.port-info{
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  height: 400px;
  width: 400px;
  /*border: solid black 1px;*/
}

.coding-icon{
  margin: auto;
  height: 150px;
  width: 150px;
}

.coding-icon img{
  border-radius: 20%;

}

.personal-icon img{
  border-radius: 20%;
  height: 300px;
  width: 300px;
}

.project ul{
  list-style: none;
}

.link-logo{
  display: inline;
}


section.module p {
  margin-bottom: 40px;
  font-weight: 350;
}

section.module.content {
  padding: 40px 0;
  background-color: white;
  text-align: center;
}

section.module.content p{
  font-size: 25px;
  color: black;
  margin-top: 10px;
}

section.module.content h1{
  font-size: 60px;
  color: black;
}
section.module.content h2{
  font-size: 35px;
  font-weight: 500;
  color: black;
}

section.module.parallax-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}

section.module.parallax-2 {
  height: 600px;
  max-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}

section.module.parallax-3 {
  height: 600px;
  max-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}

section.module.parallax-finder {
  height: 600px;
  max-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}
section.module.parallax-writenow {
  height: 600px;
  max-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}
section.module.parallax-guilty {
  height: 600px;
  max-height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}


/*text for the background image*/
section.module.parallax-1 h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 200px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
}

section.module.parallax-2 h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  line-height: 200px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
}

section.module.parallax-2 p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
}

section.module.parallax-3 h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  line-height: 200px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
}

section.module.parallax-3 p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
}

section.module.parallax-finder h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 200px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
}
section.module.parallax-writenow h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 150px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
}
section.module.parallax-guilty h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 93px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: white;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.column img{
  width: 200px;
  height: 100px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  margin-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 75%;
}

.numbertext img{
  width: 700px;
  height: 100%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
